body{
    background-color: black;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 58);
    font-family: Arial;
    border-radius: 5px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.564);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdownn {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdownn .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    border-radius: 5px;
    background-color: rgb(106, 181, 255) ;
  }

  .navbar .loginbtn{
    padding: 14px 16px;
    background-color: rgb(106, 181, 255);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 5px !important;
    font-family: inherit;
    font-size: 16px;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdownn:hover .dropbtn, .loginbtn:hover {
    background-color: rgb(96, 181, 189);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-contentt {
    display: none;
    position: absolute;
    background-color: rgb(206, 206, 29);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-contentt a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-contentt a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdownn:hover .dropdown-contentt {
    display: block !important;
  }

  .container{
    padding: 12px 16px;
    border-radius: 5px;
    border-color: white;
    border: 1px;
  }